@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 15px black;
    padding: 20px;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    
}
section{
    transform: translate( 0%, 25%);
}

body
{
    background-image: linear-gradient(to right, rgb(0, 0, 0) 20%, rgb(48, 4, 48), rgb(54, 54, 198));
    text-align: center;
    margin: auto;

}
a {
    margin: 10px;
    color: white;
    text-decoration: none;
}
div {
    background-color: rgb(255, 255, 255);
    padding: 20px 10px;
    padding-bottom: 50%;
    position: relative;    
}
 div > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
 }
h2 a:hover {
    background-color: rgba(48, 4, 48, 0.505);
    padding: 10px;
    border-radius: 6px;
}
h1 
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
}
h2
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
p {
    padding-bottom: 1px;
}